In [54]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as mlt

In [55]:
df=pd.read_csv("greenhouse_gas_inventory_data_data.csv")

In [56]:
df.head()

,country,year,value,category
0,Australia,2014,393126.9470,carbon_dioxide_co2_emissions_without_land_use_...
1,Australia,2013,396913.9365,carbon_dioxide_co2_emissions_without_land_use_...
2,Australia,2012,406462.8477,carbon_dioxide_co2_emissions_without_land_use_...
3,Australia,2011,403705.5283,carbon_dioxide_co2_emissions_without_land_use_...
4,Australia,2010,406200.9932,carbon_dioxide_co2_emissions_without_land_use_...

In [57]:
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of       country   year  value  category
0       False  False  False     False
1       False  False  False     False
2       False  False  False     False
3       False  False  False     False
4       False  False  False     False
...       ...    ...    ...       ...
8401    False  False  False     False
8402    False  False  False     False
8403    False  False  False     False
8404    False  False  False     False
8405    False  False  False     False

[8406 rows x 4 columns]>

In [58]:
y=df["value"]
y.head()

0    393126.9470
1    396913.9365
2    406462.8477
3    403705.5283
4    406200.9932
Name: value, dtype: float64

In [59]:
x=df.drop(['value'],axis='columns')

In [60]:
x.head()

     country  year                                           category
0  Australia  2014  carbon_dioxide_co2_emissions_without_land_use_...
1  Australia  2013  carbon_dioxide_co2_emissions_without_land_use_...
2  Australia  2012  carbon_dioxide_co2_emissions_without_land_use_...
3  Australia  2011  carbon_dioxide_co2_emissions_without_land_use_...
4  Australia  2010  carbon_dioxide_co2_emissions_without_land_use_...

In [61]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [62]:
x

,country,year,category
0,Australia,2014,carbon_dioxide_co2_emissions_without_land_use_...
1,Australia,2013,carbon_dioxide_co2_emissions_without_land_use_...
2,Australia,2012,carbon_dioxide_co2_emissions_without_land_use_...
3,Australia,2011,carbon_dioxide_co2_emissions_without_land_use_...
4,Australia,2010,carbon_dioxide_co2_emissions_without_land_use_...
...,...,...,...
8401,United States of America,1994,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8402,United States of America,1993,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8403,United States of America,1992,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8404,United States of America,1991,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8405,United States of America,1990,unspecified_mix_of_hydrofluorocarbons_hfcs_and...

In [63]:
x['counrty_encoded'] = label_encoder.fit_transform(dff['country'])
x['category_encoded']= label_encoder.fit_transform(dff['category'])

In [64]:
x

,country,year,category,counrty_encoded,category_encoded
0,Australia,2014,carbon_dioxide_co2_emissions_without_land_use_...,0,0
1,Australia,2013,carbon_dioxide_co2_emissions_without_land_use_...,0,0
2,Australia,2012,carbon_dioxide_co2_emissions_without_land_use_...,0,0
3,Australia,2011,carbon_dioxide_co2_emissions_without_land_use_...,0,0
4,Australia,2010,carbon_dioxide_co2_emissions_without_land_use_...,0,0
...,...,...,...,...,...
8401,United States of America,1994,unspecified_mix_of_hydrofluorocarbons_hfcs_and...,42,9
8402,United States of America,1993,unspecified_mix_of_hydrofluorocarbons_hfcs_and...,42,9
8403,United States of America,1992,unspecified_mix_of_hydrofluorocarbons_hfcs_and...,42,9
8404,United States of America,1991,unspecified_mix_of_hydrofluorocarbons_hfcs_and...,42,9
8405,United States of America,1990,unspecified_mix_of_hydrofluorocarbons_hfcs_and...,42,9

In [67]:
x=x.drop(['country'],axis='columns')

In [69]:
x=x.drop(['category'],axis='columns')

In [70]:
x

      year  counrty_encoded  category_encoded
0     2014                0                 0
1     2013                0                 0
2     2012                0                 0
3     2011                0                 0
4     2010                0                 0
...    ...              ...               ...
8401  1994               42                 9
8402  1993               42                 9
8403  1992               42                 9
8404  1991               42                 9
8405  1990               42                 9

[8406 rows x 3 columns]

In [71]:
y

0       393126.947000
1       396913.936500
2       406462.847700
3       403705.528300
4       406200.993200
            ...
8401       593.222570
8402       586.939752
8403       574.414624
8404       566.900968
8405       293.205663
Name: value, Length: 8406, dtype: float64

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.25,random_state=1)

In [92]:
xtrain

      year  counrty_encoded  category_encoded
5692  1991               11                 6
1459  2004               16                 1
1230  2008                7                 1
382   2007               15                 0
2815  1996               31                 2
...    ...              ...               ...
2895  1991               34                 2
7813  1994               20                 8
905   2008               36                 0
5192  1996                5                 5
235   2004                9                 0

[6304 rows x 3 columns]

In [93]:
xtest

      year  counrty_encoded  category_encoded
1615  1998               23                 1
6204  2003               32                 6
89    2000                3                 0
307   2007               12                 0
1079  2009                0                 1
...    ...              ...               ...
3104  2007                0                 3
1703  2009               28                 1
4468  1993               15                 4
899   2014               36                 0
2736  2000               28                 2

[2102 rows x 3 columns]

In [94]:
ytrain

5692    370242.088900
1459     76126.466630
1230     10093.269970
382     114127.554300
2815     68671.379740
            ...
2895     64644.533240
7813     15019.955790
905     335994.803700
5192         0.272431
235      54916.910560
Name: value, Length: 6304, dtype: float64

In [95]:
ytest

1615     23901.379880
6204      9227.780967
89      126315.209900
307      66531.720810
1079    537889.892600
            ...
3104      6143.734777
1703     78624.700290
4468     12589.361500
899     253466.918000
2736     76384.686950
Name: value, Length: 2102, dtype: float64

# SVM

In [96]:
from sklearn.svm import SVC

In [97]:
model=SVC()

In [98]:
model.fit(xtrain,ytrain)

ValueError: Unknown label type: 'continuous'

In [85]:
model.score()

TypeError: score() missing 2 required positional arguments: 'X' and 'y'

# DecisionTree

In [86]:
from sklearn.tree import DecisionTreeClassifier

In [87]:
model_DT=DecisionTreeClassifier()

In [88]:
model_DT.fit(x,y)

ValueError: Unknown label type: 'continuous'

# LinearRegression

In [103]:
from sklearn import linear_model

In [104]:
reg=linear_model.LinearRegression()

In [105]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [102]:
reg.score(xtest,ytest)

0.07600419092989963

#  here we can't use SVM or DT ML algorithms because the level of this data set is continous